body {
    background-color: #f7f7f7;
}

/* Nav Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;

    border-radius: 12px;
    border: 2px solid #7d5c5c;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #5638D8;
}

.active {
    background-color: #6C4CF4;
}

/* Hero Section */

#intro {
    font-size: xx-large;
}

.hero-section {
    text-align: center;
    font-family: 'Inconsolata';
    font-size: small;
    color: #1A1A1A;
}

.subtle-text {
    color: #4A4A4A;
}

img {
    width: 200px;
    height: 200px;
    padding-left: 6px;
}

#call-to-action {
    border-radius: 12px;
    background-color:#6C4CF4;
    border: none;
    padding: 5px 10px;
    display: inline-block;
    font-size: 16px;
}

#call-to-action a {
    text-decoration: none;
    color:white;
    cursor:zoom-in;
}

#call-to-action a:hover {
    color: #5638D8;
}